/* remove thic comment to add @import font or CSS variables at the top of this file */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR styling/typesetting CSS code BELOW HERE */

* {
    font-size: 10px;
}

p, li {
    font-family: "Noto Serif", serif;
    word-spacing: 1px;
    letter-spacing: 1px;
}

h1, h2 {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

body {
    line-height: 1.5;
}

h2 + p {
    text-indent: 1.25rem;
}

a:hover {
    color: #AA6666;
    text-decoration: none;
}

a:focus {
    color: #AA9966;
    outline: none;
}

a:visited {
    color: #AA6699;
}

a:active {
    font-style: italic;
}

a::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('external-link-52.png') no-repeat center/contain;
    margin-left: 4px;
}

nav li {
    list-style-type: none;
    border: 1px solid #AA6666;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

li {
    line-height: 1.5;
    list-style-type: square;
}

nav a {
    font-size: 20px;
    text-decoration: none;
}

nav a::after {
    content: none;
}